# Global
.*.swp
.DS_Store

# Application
web/app/vendor
web/app/vendor/**
web/app/composer.json
web/app/composer.lock
web/app/phpunit.xml

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

/data

*.jar